<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smile.weather">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".SmileApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/NoToolBarTheme"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".location.LocationManageActivity" android:theme="@style/NoToolBarTheme"/>
        <activity android:name=".location.SearchActivity" android:theme="@style/NoToolBarTheme"></activity>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="xMEqZcSyMQQyyNh8vkCLlSiTWGG1ZYj9" />
        <service android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>
    </application>

</manifest>